/* ESTILOS GENERALES*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.contenedor {
    background: white;
    width: 90%;
    height: fit-content;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    gap: 20px;
}

h1 {
    color: #540212;
    margin-bottom: 0.5rem;
}

h2 {
    color: #555;
    margin-bottom: 1.5rem;
}

/* MENÚ DE BOTONES E INPUTS*/
.index,
.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 2rem;
    outline: none;
}

input:focus {
    border-color: #540212;
}

/* BOTONES*/
.boton,
button {
    display: block;
    background-color: lightcoral;
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 20px;
}

.boton:hover,
button:hover {
    background-color: rgb(250, 165, 165);
    transform: scale(1.1);
}

a{
    text-decoration: none;
}

.boton-secundario {
    display: inline-block;
    margin-top: 15px;
    color: #666;
    text-decoration: none;
    font-size: 0.9rem;
}

/*LISTA DE RESERVAS*/
#lista-reservas {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

.reserva-item {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid #540212;
}

.fecha {
    font-weight: bold;
    color: #540212;
}

.nombre {
    color: #333;
}

/* MEDIA QUERY: MÓVIL*/
@media (max-width: 600px) {

    body {
        flex-direction: column;
        padding: 1rem;
    }

    .contenedor {
        width: 80vw;
        padding: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    .contenedor,
    .formulario {
        gap: 12px;
    }

    .reserva-item {
        flex-direction: column;
        gap: 8px;
    }
}

/*MEDIA QUERY: WEB*/
@media (min-width: 900px) {

    body {
        padding: 2rem;
    }

    .contenedor {
        max-width: 50vw;
        padding: 2.5rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .contenedor,
    .formulario {
        gap: 20px;
    }
}